.projectSec{
    background: rgba(233, 235, 238,0.7);
    padding-top: 100px;
    padding-bottom: 40px;
}
.projectSec .sec_container{
    padding-left:10px;
    padding-right: 10px;
}
.project_wrapper{
    text-align: center;
}
.proj_row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.proj_col{
    flex:25%;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    min-height:100%;
    margin-top:40px;
}
.prjWrapper{
    background: #fff;
    color:#000;
    margin:10px;
    border-radius: 7px;
    padding:5px;
    min-height:100%;
    padding-bottom: 52px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    transition:all 0.5s;
    position: relative;
    display: flex;
}
.projTitle{
    font-family: 'PopM';
    font-weight:500;
    text-align: center;
    word-break: break-word;
}
.projDesc{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3em;
    text-align: center;
    margin-top:15px;
}
.utilCont{
    position: absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
}
.knowMore_but{
    box-shadow: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 7px 18px;
    font-size: 17px;
    font-weight: 600;
    color:#0062cc;
    line-height: 20px;
    letter-spacing: -.25px;
    position: relative;
    display: inline-block;
    margin: 5px;
    transition: all 1s;
    min-width: 130px;
    outline:none;
    background-color: #fff;
}
.knowMore_but:hover{
    color:#fff;
    background-color: #0062cc;
    border-color: #005cbf;
}


.flip-card{
    perspective: 1000px;
    min-width: 100%;
    min-height: 100%;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-back {
    padding: 10px;
    position: absolute;
    top:0;left:0;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
.flip-card-front {
    padding: 10px;
    position: relative;
    width: 100%;
    min-height: 225px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 5px;
    text-align: end;
}

.flip-card-back .projDesc{
    margin:10px;
    max-height:224px;
    overflow: auto;
}
.flip-card-back .projDesc::-webkit-scrollbar{
    width: 4px;
    border-radius:10px;
}
.flip-card-back .projDesc::-webkit-scrollbar-track{
    background: #333; 
    border-radius: 10px; 
}
.flip-card-back .projDesc::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px; 
}
.flip-card-back .projDesc::-webkit-scrollbar-thumb:hover{
    background: #ddd; 
}
.topicCont{
    display: inline-block;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 0 10px;
    line-height: 22px;
    color: #0366d6;
    white-space: nowrap;
    background-color: #f1f8ff;
    font-weight: bold;
    margin: 0 0.825em .333em 0;
}
.notopic{
    color: #ff8100;
    background: #ffe7e7;
}
.archived {
    color: #000;
    background: #ddd;
}
.detialsIconCont{
    text-align: center;
    margin-top:10px;
}
.langLic {
    display: block;width:100;
    color:#586069;
    font-size:12px;
    margin-top:10px;
    margin-bottom:5px;
}
.mr-3 {
    margin-right: 10px;
}
.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.programmingLanguage{
    margin-left: 4px;
}
.lisc_icon {
    position: relative !important;
    vertical-align: text-bottom;
    margin-right: 4px;
}
.mr-3 .lisc_icon {
    fill: #586069;
}
.p-come-in-flip{
    opacity: 0;
    transform: rotateY(-90deg);
    animation: come-in-proj 0.8s ease forwards;
}
@keyframes come-in-proj {
    to { 
      transform: rotateY(0);
      opacity: 1;
    }
  }
@media(max-width:1100px){
    .project_wrapper .sec_desc{
        padding:20px;
    }
    .proj_col{
        flex:33%;
        max-width: 33%;
    }
}
@media(max-width:900px){
    .proj_col{
        flex:40%;
        max-width: 40%;
    }
}
@media(max-width:800px){
    .proj_col{
        flex:50%;
        max-width: 50%;
    }
}
@media(max-width:630px){
    .proj_col{
        flex:70%;
        max-width: 70%;
    }
}
@media(max-width:550px){
    .proj_col{
        flex:90%;
        max-width: 90%;
    }
}